@import url("https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  /* background: linear-gradient(to bottom, #f49ed4, #d50b8b); */
  background-color: #ebd0d7;
  /* font-family: "Lavishly Yours", cursive; */
  font-family: "Pacifico", cursive;
  font-weight: 400;
}
.quote {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 16px;
}
.daily-quote {
  width: 100%;
  height: 4.1rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 2px 6px 2px rgba(255, 255, 255, 0.7);
  gap: 16px;
  padding: 12px;
  margin-bottom: 12px;
}

.daily-quote-text {
  font-size: 20px;
  letter-spacing: 0.9px;
  font-weight: 500;
}
.daily-quote button {
  display: block;
  padding: 12px 32px;
  border: none;
  color: #eee;
  border-radius: 22px;
  text-transform: uppercase;
  background-color: #000;
  letter-spacing: 0.8px;
  cursor: pointer;
}
.zodiac {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.7em;
  padding-top: 14px;
}
.zodiac-symbol {
  position: absolute;
  top: 2%;
  left: 4.6%;
  width: 8rem;
}
.zodiac select {
  width: 30%;
  height: 2.7rem;
  z-index: 10;
  outline: none;
  border-radius: 12px;
}
.cat-logo {
  position: absolute;
  height: 10rem;
  right: 28%;
  top: -10%;
}
.affirmation-generate-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
.affirmation-generate-btn button {
  padding: 12px 16px;
  border: none;
  border-radius: 22px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: #d9c4b1;
}
.ready {
  text-align: center;
  letter-spacing: 1px;
  font-size: 22px;
  margin-bottom: 1em;
}
.affirmations-body {
  width: 85%;
  margin: 3rem auto;
  background-color: white;
  position: relative;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 2px 2px 16px 8px rgba(0, 0, 0, 0.6);
}
.affirmations-cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 2.7em;
}
.scratch-card {
  background-color: #ffe3e3;
  width: 20em;
  height: 20em;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  margin-right: 12px;
}
.affirmation {
  position: absolute;
  color: #000;
  letter-spacing: 1px;
  cursor: grabbing;
  user-select: none;
  padding: 16px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.affirmation p {
  font-size: 22px;
  letter-spacing: 1px;
}
.canvas {
  width: 320px;
  height: 320px;
  position: absolute;
  cursor: grabbing;
}
@media screen and (max-width: 380px) {
  .affirmations-cards-container {
    flex-direction: column;
  }
  .scratch-card {
    width: 14em;
    height: 14em;
  }
  .cat-logo {
    display: none;
  }
  .zodiac-symbol {
    width: 4rem;
  }
  .daily-quote-text,
  .ready,
  .affirmation p {
    font-size: 14px;
  }
}
@media screen and (min-width: 380px) and (max-width: 840px) {
  .affirmations-cards-container {
    flex-direction: column;
  }
  .affirmation p {
    font-size: 18px;
    letter-spacing: 0.8px;
  }
  .ready {
    font-size: 18px;
  }
  .daily-quote-text {
    font-size: 14px;
    letter-spacing: 0.8px;
  }
  .cat-logo {
    display: none;
  }
  .scratch-card,
  .canvas {
    width: 18em;
    height: 18em;
  }
  .zodiac-symbol {
    width: 5rem;
    top: 1%;
  }
}
